.itemDetail {
     width: 90%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     box-shadow: 5px 5px 5px black 0.5;
     background-color: rgba(200, 200, 200, .7);


}


.itemDetail:nth-child(3) {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-around;

}



.itemDetail>div h2 {
     font-size: 1.5rem;
     padding: 1rem;

}


.itemDetail div>p {
     font-size: 1.2rem;
     align-self: flex-start;
}

.itemDetail:nth-child(4) {
     color: black;
     margin-left: 2rem;
}

.itemDetail span {
     color: black;
}