.itemDetail {
     width: 90%;
     display: flex;
     flex-direction: row;
     align-items: stretch;
     justify-content: space-around;
     box-shadow: 5px 5px 5px black 0.5;


}


.itemDetail-details {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}



.itemDetail>div h2 {
     font-size: 1.5rem;
     padding: 3rem;

}


.itemDetail div>p {
     font-size: 1.2rem;
     align-self: flex-start;
}

.itemDetail img {
     align-self: center;
     box-shadow: 10px 5px 7px black;
}