.cart {
     width: 90vw;
     font-size: 1rem;
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     flex-direction: row;
     color: rgb(19, 18, 18);
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: nowrap;
     border: 2px black solid;
     margin: 2rem;
     background-color: rgba(185, 234, 210, 0.6);
     border-radius: .5rem;
}

.cart h3,
.cart button {
     margin: 3rem;
}

.cart button {
     font-size: 1.5rem;
     line-height: 1.5rem;
     padding: .3rem;
     border-radius: .5rem;

}