.contador-contenedor {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}




.count_container {
     width: 70%;
     margin: 2rem auto;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;

}

.count_button {
     font-size: 1rem;
     padding: 5px;
     background-color: rgb(109, 109, 190);
     color: wheat;
     border-radius: 5px;
}