.item {

     font-family: Arial, Helvetica, sans-serif;
     width: 90vw;
     margin: 0 auto;
     padding: 2rem;
     text-align: center;
     font-size: 2rem;
     color: blueviolet;
     background-color: limegreen;

}

.item>h1 {
     margin: 10px;
     padding: 10px;
}