.item-container {

     width: 400px;
     box-shadow: 10px 5px 5px black;
     ;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     flex-wrap: nowrap;
     margin-bottom: 1rem;
     border: 2px solid black;
     border-radius: 10px;
     font-size: 1rem;
     padding: .5rem;
     /* background-color: pink; */
     /* gap: .5rem; */
}

.item {
     padding: 1rem;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.8rem;
     margin: 1rem;
}

.item-price {
     font-size: 2rem;
}