/* font-family: 'Rubik Burned', cursive; */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

h1 {
     font-size: 2rem;
     padding: 1rem;
}


h2 {
     padding-top: 4rem;
     font-size: 4rem;
}

p {
     margin-top: 2rem;
     padding: 2rem;

}


/* footer */


/* footer {
     width: 90%;
     margin: 2rem auto;
     text-align: center;
     background-color: black;
     color: wheat;
} */

img {
     width: 300px;
     height: 300px;
}