/* font-family: 'Rubik Burned', cursive; */
/* font-family: 'Kanit',
sans-serif;
font-family: 'Montserrat',
sans-serif;
 */


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat',
          sans-serif;

}

h1 {
     font-size: 2rem;
     padding: 1rem;
}


h2 {
     padding-top: 4rem;
     font-size: 4rem;
}

p {
     margin-top: 2rem;
     padding: 2rem;

}



img {
     width: 200px;
     height: 200px;
}

body {
     background-image: url("../public/pasto.jpg");
     background-repeat: no-repeat;
     background-size: cover;

}