/* font-family: 'Rubik Burned', cursive; */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


.main {
     width: 90vw;
     padding: 2rem;
     margin: 2rem auto;
     background-color: rgba(242, 209, 144, 0.772);
     color: rgb(7, 7, 7);
     text-align: center;
}

h2 {
     padding-top: 4rem;
     font-size: 4rem;
}

p {
     margin-top: 2rem;
     padding: 2rem;
     font-size: 2rem;
}


/* footer */


/* footer {
     width: 90%;
     margin: 2rem auto;
     text-align: center;
     background-color: black;
     color: wheat;
} */